.centraligntest1{
    text-align:center;
}

.custom-sm-4{
    padding:50px
}
@media screen and (max-width: 600px){
    .custom-sm-4{
        padding:15px
    }    
    section{
        padding:50px 0px 50px 0px
    }
}
/* .tp-static-layers{} */
/* #slider-revolution{
    height: 100vh;
} */
/* #section-hero{
    height: 100vh;
}
.rev-slidebg{
    height: 900vh;
} */
.customcaro1{
    /* background: -webkit-linear-gradient(--primary-color-1,--secondary-color) ;
    -webkit-background-clip: text;
    background-clip:text;
    color: transparent; */
    /* color:rgb(255, 177, 226); */
    color:#f8fdc8;
}
.contact{
    margin: 0px 0px 30px 0;
    padding:0 15px 0 15px;
}
.contact-head{
    font-size: 17px;
    /* font-weight: 400; */
}


@media screen and (max-width: 600px){
    #section-sponsors {
        padding: 50px 0px 0px 0px;
    }
    footer.style-2{
        padding: 30px 0px 60px 0px;
    }
    .contact{
        width: 360px;
        /* margin: 0px 0px 30px 0px; */
        /* padding:0 15px 0 15px; */
    }   
}